:root {
  --dark-navy: #020c1b;
  --navy: #d8dce2;
  --light-navy: #112240;
  --lightest-navy: #233554;
  --navy-shadow: rgba(2, 12, 27, 0.7);
  --slate: #242429;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green-bright: #f4a227;
  --green-tint: rgba(139, 156, 152, 0.1);
}
